<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>List Summaries</title>
    <link rel="stylesheet" href="summarizer.css" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>

<body>
	<h1><u>List Summaries</u></h1>

    <strong>Displaying song summaries saved in the folder: </strong><%- folder %><br><br>

    <div>
        <%- songSummaryTable %>
	</div>

    <br><br>
	<a href="/">Home</a>

</body>

</html>
